body {
    // display: -ms-flexbox;
    // display: flex;
    // -ms-flex-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-register .checkbox {
    font-weight: 400;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-register .form-control:focus {
    z-index: 2;
}
.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-register .logoContainer {
    text-align: center;
    margin-bottom: 20px;
}

.form-register .logoContainer .logoText,
.form-register .logoContainer .logo {
    display: inline-block;
}

.form-register .logoContainer .logoText {
    display: inline-block;
    margin-top: 10px;
    border-top: 1px solid #c3c3c3;
    min-height: 46px;
    padding-left: 10px;
    color: #19313e
}

.form-register .logoContainer .logoText > h1 {
    font-size: 2rem;
    font-weight: 700;
}
